/* css効いてるかチェック用 */
/* div {
    font-size: 1px;
} */

/* 背景画像設置 */
body {
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 10%;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    margin: 0px;
    /* -webkit-text-size-adjust: 100%; */
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    background-image: url("/static/img/in_htmlup.png"), url("/static/img/in_html00down.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
  }

/* ヘッダーフッター位置固定 */
header {
    margin:0 auto;
    width: 100%;
    height: 100px;
    padding: 5px 0;
    top: 0;
}
footer {
    background-color: white;
    margin:0 auto;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 5px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

/* ヘッダーミニロゴサイズ調整 */
header img {
    width: 70px;
}

/* テキスト入力、画像送信フォーム装飾 */
label,textarea {
    width: 200px;
    height: 100px;
    background: fff;
    color: #000;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 2px;
    cursor: pointer;
}
label input {
    display: none;
}

/* 入力フォームサイズ変更禁止 */
textarea {
    resize: none;
}

/* 画像アップロード画面アイコン装飾 */
.fas {
    color: darkgray;
}


/* フォーム切り替え用装飾 */
.form{
    display:none;
    width: 200px;
    height: 100px;
}
.active {
    display: block;
}
.switch_btn {
    display: inline-block;
    color: #4e90af;
    background-color: #e0f5ff;
    width: 40px;
    padding: 6px 0;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
  }

/* hole分 */
.sec3 p{
    font-size: 10px;
    line-height: 15px;
	margin-bottom: 15px;
}

