/* css効いてるかチェック用 */
/* div {
    font-size: 1px;
} */

/* テキスト入力、画像送信フォーム装飾 */
label,textarea {
    width: 200px;
    height: 100px;
    background: fff;
    color: #000;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 2px;
    cursor: pointer;
}
label input {
    display: none;
}

/* 入力フォームサイズ変更禁止 */
textarea {
    resize: none;
}

/* 画像アップロード画面アイコン装飾 */
.fas {
    color: darkgray;
}


/* フォーム切り替え用装飾 */
.form{
    display:none;
    width: 200px;
    height: 100px;
}
.active {
    display: block;
}
.switch_btn {
    display: inline-block;
    color: #4e90af;
    background-color: #e0f5ff;
    width: 40px;
    padding: 6px 0;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
  }

.intop img { 
    width: 100%; 
    position: absolute;
    top: 50px; 
}

.indown img { 
    width: 100%; 
}