/* css効いてるかチェック用 */
/* div {
    font-size: 1px;
} */

/* 画像送信フォーム装飾 */
label {
    background: #000;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    margin: 0 10px 0 0;
    display: inline-block;
}
label input {
    display: none;
}

/* 入力フォーム装飾 */
textarea {
    resize: none;
    width: 200px;
    height: 100px;
}


/* フォーム切り替え用装飾 */
.form{
    display:none;
}
.active {
    display: block;
}
.switch_btn {
    display: inline-block;
    color: #4e90af;
    background-color: #e0f5ff;
    width: 40px;
    padding: 6px 0;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
  }