<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.css')}}" media="screen and (max-width:420px)">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>
<body>
    <header style="background-image: url({{ url_for('static', filename='img/in_htmlup.png') }})">
        <a href="/"><img src="/static/img/logoking.png" width="50" height="50"></a>
    </header>
    {% block content %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}
    <footer>
        <h1 class="beneath" style="background-color: hotpink;">copyright©2020</h1>
    </footer>
</body>
<script type="text/javascript" src="{{url_for('static',filename='js/common.js')}}"></script>
</html>