<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.css')}}" media="screen and (max-width:420px)">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>
<body class="base">
    <header>
        <a href="/"><img src="static/img/minilogo02.png"></a>
        
    </header>

    {% block content %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}

    <footer>
        <div class="copyright">copyright©2020</div>
    </footer>
</body>
<script type="text/javascript" src="{{url_for('static',filename='js/common.js')}}"></script>
</html>