<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.css')}}" media="screen and (max-width:320px)">
</head>
<body>
    <header>
        <a href="/"><h1 class="upper_part" style="background-color: aqua;">ロバ耳ロゴ</h1></a>
    </header>
    {% block content %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}
    <footer>
        <h1 class="beneath" style="background-color: hotpink;">copyright©2020</h1>
    </footer>
</body>
<script src="/static/js/common.js"></script>
</html>