{% extends 'base.html' %}

{% block content %}

<div>

  {% for item in comment_list %}

  <div class="twi">
  <!-- 画像ランダム表示 -->
  <script type="text/javascript">
    var imglist = new Array(
       "../static/img/iconashi.png",
       "../static/img/iconc0blue.png",
       "../static/img/iconc0green.png",
       "../static/img/iconc0red.png",
       "../static/img/iconc0yellow.png",
       "../static/img/iconking.png",
       "../static/img/iconroba.png");

    var selectnum = Math.floor(Math.random() * imglist.length);
    var output = "<img src=" + imglist[selectnum] + ">";
    document.write(output);
 </script>
    <p>{{item["comment"]}}</p>
      <a href="/edit/{{item['id']}}">編集</a>
      <form action="/del" method="post">
        <input type="hidden" name="comment_id" value="{{item['id']}}">
        <input type="submit" name="delete" value="削除する" onclick='return confirm("本当に削除しますか？")'>
    </form><br><br>"
  </div>  
  {% endfor %}


</div>


<div>
  <a href="/logout">ログアウト</a>
</div>

{% endblock %}