{% extends 'base.html' %}

{% block content %}

<div>

  <div class="new">
    <div class="flex">
      <script type="text/javascript">
        var imglist = new Array(
           "../static/img/iconashi.png",
           "../static/img/iconc0blue.png",
           "../static/img/iconc0green.png",
           "../static/img/iconc0red.png",
           "../static/img/iconc0yellow.png",
           "../static/img/tokoya02.png",
           "../static/img/iconking.png",
           "../static/img/iconroba.png");
    
        var selectnum = Math.floor(Math.random() * imglist.length);
        var output = "<img src=" + imglist[selectnum] + ">";
        document.write(output);
     </script>
      <p>{{comment_new[1]}}</p>
    </div>
    <form action="/del" method="post">
      <input type="hidden" name="comment_id" value="{{comment_new[0]}}">
      <input type="submit" name="delete" value="削除する" onclick='return confirm("本当に削除しますか？")' class="button-in">
    </form>
  </div>

  {% for item in comment_list %}
 

  <div class="bbs">
    <div class="flex">
  <!-- 画像ランダム表示 -->
  <script type="text/javascript">
    var imglist = new Array(
       "../static/img/iconashi.png",
       "../static/img/iconc0blue.png",
       "../static/img/iconc0green.png",
       "../static/img/iconc0red.png",
       "../static/img/iconc0yellow.png",
       "../static/img/tokoya02.png",
       "../static/img/iconking.png",
       "../static/img/iconroba.png");

    var selectnum = Math.floor(Math.random() * imglist.length);
    var output = "<img src=" + imglist[selectnum] + ">";
    document.write(output);
 </script>
    <p>{{item["comment"]}}</p>
  </div>
      <form action="/del" method="post">
        <input type="hidden" name="comment_id" value="{{item['id']}}">
        <input type="submit" name="delete" value="削除する" onclick='return confirm("本当に削除しますか？")' class="button-in">
    </form>
  </div>  
  {% endfor %}


</div>


<div>
  <a href="/logout">ログアウト</a>
</div>

{% endblock %}