{% extends 'base.html' %}

{% block content %}

<div>

  <div class="new">
    <div class="flex">
      <img src="../static/img/icon.png" >
      <p>{{comment_new[1]}}</p>
    </div>
    <form action="/del2" method="post" class="dust">
      <input type="hidden" name="comment_id" value="{{comment_new[0]}}">
      <input type="image" src="/static/img/icondustblack.png" id="dust" name="delete" onclick='return confirm("削除しますか？")'>
    </form>
  </div>

  

</div>


<div class="button-out">
  <span>➡</span><a href="in">まだ言い足りない</a>
</div>
<div class="button-out">
  <span>➡</span><a href="check">井戸の中を見てみる</a>
</div>

{% endblock %}