<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.css')}}" media="screen and (max-width:420px)">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>
<body class="sec3">
    <div>
        <img src="../static/img/iconking.png" alt="王様" width="50px" height="50" align="left">
        <p>ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。
        ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。
        </p>
    </div>
    <div align="center"><img src="../static/img/goodroba.png" width="50%" height="50%"></div>
    <div align="center">RT,いいね(保留)</div>
    

    <!-- <div class="portfolio slide-left">
        <a href="#"><img src="../syakyou/img/thumb_01.png" alt="あいうえお"><p class="port_title">あいうえお建設様</p></a>
        <p>ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。
        ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。ここに制作実績のテキストが入ります。
        </p>
    </div>
    </div> -->





</body>
<script type="text/javascript" src="{{url_for('static',filename='js/common.js')}}" width="70" height="70></script>
</html>