{% extends "base.html" %}
{% block content %}

<div class="sec1">

    <div class="twi">
        <div class="flex">
            <div class="text_value">
                <img src="static/img/icon.png" class="selected_icon active_icon">
            </div>
            <form action="/add" method="post" enctype="multipart/form-data">
                <ul>
                    <li class="form active film"><textarea name="comment" class="status"
                            placeholder="送ったひとりごとはランダムに表示されるよ"></textarea></li>
                </ul>

                <input type="submit" value="ひとりごとを言う" class="button-in">
            </form>
        </div>
    </div>
    <div class="button-out">
        <span>➡</span><a href="check">井戸の中を見てみる</a>
    </div>


</div>
{% endblock %}