{% extends "base.html" %}
{% block content %}

<!-- ここに中身を書いていく -->
<div class="sec1">
    <div class="switch">
        <div class="switch_btn">text</div>
        <div class="switch_btn"><label for="img_form"><input type="file" id="img_form" name="userfile" accept="image/*"><img src="icon.png"></label></div>
    </div>
    
    <div>
        <form action="/add" method="post" enctype="multipart/form-data">
            <ul>
                <li class = "form active film"><textarea name="comment" placeholder="今の気持ちを入力してね"></textarea></li>
                <li class="film"></li>
            </ul>


            <ul>   
                <li class = "form">
                    <form enctype="multipart/form-data" method="post">
                    </form>
                </li>
            </ul>

            <input type="submit" value="井戸に叫ぶ">
        </form>
    </div>

    <a href="check">テスト用リンク</a>

</div>
{% endblock %}